body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.form {
  padding: 0 30px 0 30px;
}

.category-item, .post-item, .custom-comment {
  padding: 20px 20px 10px 20px !important;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.post-link {
  color: #000 !important;
}

.category-item:hover {
  background: #e0e1e2 !important;
}

.comments-buttons-group {
  margin-left: 20px;
  margin-right: 20px;
}

.no-data {
  text-align: center;
}

.ui .dimmer {
  background-color: rgba(0,0,0,0.95) !important;
}

.alternate {
  cursor: pointer;
  color: #000;
}

.alternate:hover {
  background-color: rgba(0,0,0,0.4);
}

i.icon {
  height: 32px !important;
  width: 32px !important;
  border-radius: 50%;
}

.react-confirm-alert-overlay {
  top: -150px !important;
}

.react-confirm-alert-button-group {
  justify-content: space-between !important;
}

.react-confirm-alert > h3 {
  text-align: center !important;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-file-label {
  color: #FFF !important;
  font-size: 18px !important;
  width: 185px;
  height: 46px;
}